Package: escritoriolinux
Version: 1.0.0
Section: misc
Priority: optional
Architecture: all
Maintainer: Calif <calif@local.host>
Depends: curl, git, software-properties-common, qml6-module-qtcore, qml6-module-qtquick, qml6-module-qtqml, qml6-module-qtquick-controls, qml6-module-qtquick-layouts, qml6-module-qtquick-shapes, qml6-module-qtquick-window, qml6-module-qtquick-effects, qml6-module-qt-labs-folderlistmodel, matugen, dgop, cava, danksearch, kimageformat6-plugins
Description: Automated installer for Niri Scrollable Window Manager & DankMaterialShell.
 Installs and configures Niri and DMS on Ubuntu, setting up custom
 configurations for users migrating from Windows to Linux.
